.homePage{
    background-image: url('/img/imgHome.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    
}

.agendaPage{
    background-image: url('/img/img2.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

.cardPanel{
    background-color: rgba(236, 236, 236, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
}