.homePage{
    background-image: url('/img/imgHome.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    
}

.agendaPage{
    background-image: url('/img/img7.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    
}
