.farmPage{
    background-image: url('./img/imgVerFincas.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

.farmForm{
    background-image: url('./img/imgAddFinca.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}

.formPanel{
    background-color: rgba(236, 236, 236, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
}

.cardPanel{
    background-color: rgba(236, 236, 236, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
}

.cardPanel:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}