.farmPage{
    background-image: url('./img/imgVerFincas.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

.farmForm{
    background-image: url('./img/imgAddFinca.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}