.supplierPage{
    background-image: url('/img/imgVerProvee.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
    
}

.addSupplierPage{
    background-image: url('/img/imgAddProvee2.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}

.formPanel{
    background-color: rgba(236, 236, 236, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
}