.supplierPage{
    background-image: url('./img/imgVerProvee.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
    
}

.addSupplierPage{
    background-image: url('./img/imgAddProvee2.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}